@font-face {
    font-family: 'Serena';
    src: url('/fonts/Serena.woff2') format('woff2'),
        url('/fonts/Serena.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}